@import 'tailwindcss';

:root {
  --color-primary: #1e40af;
  --color-secondary: #1f2937;
  --color-accent: #3b82f6;
  --color-card: #111827;
  --color-text: #f3f4f6;
  --color-error: #dc2626;
  --color-success: #16a34a;
}

/* Кастомные скроллбары для WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.7);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(192, 206, 233);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(125, 130, 139, 0.623);
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(192, 206, 233) rgba(17, 24, 39, 0.7);
}
