@import 'tailwindcss';

:root {
  --color-primary: #1e40af;
  --color-secondary: #1f2937;
  --color-accent: #3b82f6;
  --color-card: #111827;
  --color-text: #f3f4f6;
  --color-error: #dc2626;
  --color-success: #16a34a;
}
